.sectioncategories {
    position: relative;
    width: 174px;
    height: 174px;
    top: 888px;
    left: 140px;
    border-radius: 255px 0px 0px 0px;



    & h2 {
        position: relative;
        width: 174px;
        height: 174px;
        top: 1043px;
        left: 142px;
        border-radius: 255px 0px 0px 0px;

    }
}